<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <td align="center">
    <div id="webContainer" class="webContainer">
        <div id="container" class="container">
            <table class="containerTop" cellpadding="0" cellspacing="0">
                <tbody><tr valign="top">
                    <td class="left"></td>
                    <td class="center"></td>
                    <td class="right"></td>
                </tr>
                </tbody></table>

            <table class="containerMiddle" cellpadding="0" cellspacing="0">
                <tbody><tr valign="top">
                    <td id="containerMiddleLeft" class="containerMiddleLeft">




                    </td>

                    <td class="containerMiddleCenter">
                        <div id="containerMiddleCenterTop" class="containerMiddleCenterTop">

                        </div>

                        <div id="containerForms" class="containerForms">
                            <div id="topForms" class="column forms mainForms topForms" style="display:none">

                            </div>

                            <table class="containerFormsMiddle" cellpadding="0" cellspacing="0">
                                <tbody><tr>
                                    <td valign="top" id="containerFormsLeft" class="containerFormsLeft" style="display:none">
                                        <div class="containerFormsLeftTop">
                                        </div>
                                        <div id="leftForms" class="column forms sideForms leftForms">

                                        </div>
                                        <div class="containerFormsLeftBottom">
                                        </div>
                                    </td>

                                    <td valign="top" id="containerFormsCenter" class="containerFormsCenter">

                                        <div id="centerTopForms" class="column forms mainForms centerTopForms">
                                            <div id="module23" _indexclass="formIndex1" _moduletype="23" _modulestyle="57" _moduleid="23" class="form form23 formIndex1 formStyle57 jz-moduleSide" title="" _sys="0" _banid="" style="" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _inpopupzone="0" _infullmeasurepack="0" _intabpack="0" _autoheight="1" _global="false" _independent="false" data-scrollbar="0"><table class="formTop formTop23" cellpadding="0" cellspacing="0"><tbody><tr><td class="left"></td><td class="center"></td><td class="right"></td></tr></tbody></table>
                                                <table class="formBanner formBanner23" cellpadding="0" cellspacing="0" style=""><tbody><tr>
                                                    <td class="left left23"></td>
                                                    <td class="center center23" valign="top">
                                                        <table cellpadding="0" cellspacing="0" class="formBannerTitle formBannerTitle23"><tbody><tr>
                                                            <td class="titleLeft titleLeft23" valign="top">
                                                            </td>
                                                            <td class="titleCenter titleCenter23" valign="top">
                                                                <div class="titleText titleText23"><span class="bannerNormalTitle fk_mainTitle mainTitle mainTitle23">购物车</span></div>
                                                            </td>
                                                            <td class="titleRight titleRight23" valign="top">
                                                            </td>
                                                        </tr></tbody></table>
                                                    </td>
                                                    <td class="right right23"></td>
                                                </tr></tbody></table>
                                                <table class="formMiddle formMiddle23 jz-moduleSide-content" style="" cellpadding="0" cellspacing="0"><tbody><tr>
                                                    <td class="formMiddleLeft formMiddleLeft23"></td>
                                                    <td class="formMiddleCenter formMiddleCenter23 " valign="top">
                                                        <div class="formMiddleContent formMiddleContent23 fk-formContentOtherPadding" tabstyle="0">
                                                            <div class="mallCart J_mallCart mallCartNew"><div class="cartMsg mstl_tips" style="display:none">
                                                            </div>
                                                                <div class="itemList goodsTheadWrap J_saleTabRemove_1 " style="margin-top:10px;">
                                                                    <div class="line ">
                                                                        <table class="lineBody" cellpadding="0" cellspacing="0">
                                                                            <tbody><tr>
                                                                                <td class="itemName">名称</td>
                                                                                <td class="itemPrice">价格</td>
                                                                                <td class="itemAmount">数量</td>
                                                                                <td class="itemTotal">小计</td>
                                                                                <td class="itemOpt">操作</td>
                                                                            </tr>
                                                                            </tbody></table>
                                                                    </div>
                                                                </div>
                                                                <div class="itemList itemListcount J_saleRemove_0  itemList_0" lineno="0" style="border-top-width:0px;">
                                                                    <div class="line itemLine0 J_saleTabItem_1 goodsInfoLine ">
                                                                        <table class="lineBody" cellpadding="0" cellspacing="0">
                                                                            <tbody><tr>
                                                                                <td class="itemCk" style="position:relative;">
                                                                                    <div class="saleItemCk" style=""><input class="J_mcart-pdSelect" type="checkbox" name="isBuy" itemid="1" _realamount="0" _enablemallamount="false" checked="checked" onclick="Site.mallSelectShop(23)" style="margin:0px;">
                                                                                        <label class="mCartCheckDiv mcart-pdSelectLabel itemLabelChecked mCart_checked" onclick="Site.mCartsaleItemCk(this);return false;"></label></div></td><td class="itemName"><div class="itemPic"><img alt="南非进口黄柠檬 6个装" title="" style="width:60px;height:60px;" src="//12057997.s21i.faiusr.com/2/ABUIABACGAAgq5nwwQUooPCf7QEw1gM46gI!60x60.jpg"></div>
                                                                                <div class="itemProName"><a hidefocus="true" href="pd.jsp?id=22" target="_blank" title="南非进口黄柠檬 6个装">南非进口黄柠檬 6个装</a></div></td>
                                                                                <td class="itemPrice">
                                                                                    <div class="itemSalePrice J_itemPrice_0">￥<span class="itemPriceText">19.00</span>   </div>   <br><div class="saleProSignHover J_saleMemOrRedPrice_0"></div></td>
                                                                                <td class="itemAmount"><div><input class=" amountEdit" type="edit" value="1" maxlength="7" onchange="Site.mallCartAmountChange(23, 0, 988, 1, 1, 0,0,false)" onkeypress="javascript:return Fai.isNumberKey(event);" _itemprice="19.0"><div class="buyCountWrap"><span id="buyCountInc23_0" onclick="Site.incMallCartAmount(23, 0, 988, 1, 1, 0,0,false)" class="mallJia"></span>
                                                                                    <span id="buyCountDes23_0" onclick="Site.desMallCartAmount(23, 0, 988, 1, 1, 0,0,false)" class="mallJian disableMallJian"></span>
                                                                                </div></div></td>
                                                                                <td class="itemTotal goodsTotalMoney mCart_color">
                                                                                    ￥<span class="itemTotalText">19.00</span></td>
                                                                                <td class="itemOpt">
                                                                                    <a hidefocus="true" class="amountDel" href="javascript:;" onclick="Site.mallCartItemDel(23, 0, 988, 1, 0,1)">&nbsp;</a>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody></table>
                                                                    </div>
                                                                    <div class="line itemLine1 J_saleTabItem_1 goodsInfoLine ">
                                                                        <table class="lineBody" cellpadding="0" cellspacing="0">
                                                                            <tbody><tr>
                                                                                <td class="itemCk" style="position:relative;">
                                                                                    <div class="saleItemCk" style=""><input class="J_mcart-pdSelect" type="checkbox" name="isBuy" itemid="2" _realamount="0" _enablemallamount="false" checked="checked" onclick="Site.mallSelectShop(23)" style="margin:0px;">
                                                                                        <label class="mCartCheckDiv mcart-pdSelectLabel itemLabelChecked mCart_checked" onclick="Site.mCartsaleItemCk(this);return false;"></label></div></td><td class="itemName"><div class="itemPic"><img alt="智利进口新鲜蓝莓 4盒" title="" style="width:60px;height:60px;" src="//12057997.s21i.faiusr.com/2/ABUIABACGAAglJLwwQUozNzFhwMw1gM46gI!60x60.jpg"></div>
                                                                                <div class="itemProName"><a hidefocus="true" href="pd.jsp?id=25" target="_blank" title="智利进口新鲜蓝莓 4盒">智利进口新鲜蓝莓 4盒</a></div></td>
                                                                                <td class="itemPrice">
                                                                                    <div class="itemSalePrice J_itemPrice_1">￥<span class="itemPriceText">60.00</span>   </div>   <br><div class="saleProSignHover J_saleMemOrRedPrice_1"></div></td>
                                                                                <td class="itemAmount"><div><input class=" amountEdit" type="edit" value="1" maxlength="7" onchange="Site.mallCartAmountChange(23, 1, 988, 2, 1, 0,0,false)" onkeypress="javascript:return Fai.isNumberKey(event);" _itemprice="60.0"><div class="buyCountWrap"><span id="buyCountInc23_1" onclick="Site.incMallCartAmount(23, 1, 988, 2, 1, 0,0,false)" class="mallJia"></span>
                                                                                    <span id="buyCountDes23_1" onclick="Site.desMallCartAmount(23, 1, 988, 2, 1, 0,0,false)" class="mallJian disableMallJian"></span>
                                                                                </div></div></td>
                                                                                <td class="itemTotal goodsTotalMoney mCart_color">
                                                                                    ￥<span class="itemTotalText">60.00</span></td>
                                                                                <td class="itemOpt">
                                                                                    <a hidefocus="true" class="amountDel" href="javascript:;" onclick="Site.mallCartItemDel(23, 1, 988, 2, 0,1)">&nbsp;</a>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody></table>
                                                                    </div>
                                                                </div>
                                                                <br>
                                                                <div class="cartTotal">
                                                                    <div class="selectAllShop"><input type="checkbox" name="selectAll" style="vertical-align:-2px;" checked="checked" id="selectAll" onclick="Site.mallSelectAllShop(23,false)"><div class="mCartCheckDiv itemLabelChecked selectAllCheckedDiv mCart_checked" onclick="Site.mCartsaleItemCk(this);return false;"></div><label for="selectAll">全选</label></div>
                                                                    <span class="J_countTotal countTotal">商品总金额：<span class="countTotalText">￥79.00</span></span>
                                                                    <span class="J_countSave countSave">&nbsp;&nbsp;&nbsp;优惠金额：<span class="countSaveText">￥0.00</span></span>
                                                                </div>
                                                                <div class="cartTotal J_countNeedPay countNeedPay"><span class="cartTotalName">应付金额：</span><span class="cartTotalValue mCart_color" choicecurrencyval="￥" leveldiscount="100" levelname=""><span class="currencyValText">￥</span>79.00</span></div>
                                                                <div class="cartOpt">
                                                                    <a hidefocus="true" href="/index.jsp" target="_blank" class="cartBuy">继续购物</a>
                                                                    <input type="button" onclick="Site.mallSettle(988)" class=" cartSettle mCart_bg" extclass="" value="结算订单">
                                                                </div>
                                                            </div></div>
                                                    </td>
                                                    <td class="formMiddleRight formMiddleRight23"></td>
                                                </tr></tbody></table>
                                                <table class="formBottom formBottom23" cellpadding="0" cellspacing="0"><tbody><tr><td class="left left23"></td><td class="center center23"></td><td class="right right23"></td></tr></tbody></table>
                                                <div class="clearfloat clearfloat23"></div>






                                            </div>


                                        </div>
                                        <div class="containerFormsCenterMiddle J_containerFormsCenterMiddle">
                                            <div id="middleLeftForms" class="column forms mainForms middleLeftForms" style="display:none">

                                            </div>
                                            <div id="middleRightForms" class="column forms mainForms middleRightForms" style="display:none">

                                            </div>
                                            <div class="clearfloat"></div>
                                        </div>
                                        <div id="centerBottomForms" class="column forms mainForms centerBottomForms" style="display:none">

                                        </div>
                                    </td>

                                    <td valign="top" id="containerFormsRight" class="containerFormsRight" style="display:none">
                                        <div class="containerFormsRightTop">
                                        </div>
                                        <div id="rightForms" class="column forms sideForms rightForms">

                                        </div>
                                        <div class="containerFormsRightBottom">
                                        </div>
                                    </td>
                                </tr>
                                </tbody></table>

                            <div id="bottomForms" class="column forms mainForms bottomForms" style="display:none">

                            </div>

                            <div id="containerPlaceholder" class="containerPlaceholder" style="height: 0px;"></div>

                        </div>

                        <div id="containerMiddleCenterBottom" class="containerMiddleCenterBottom">
                        </div>

                    </td>

                    <td id="containerMiddleRight" class="containerMiddleRight"></td>
                </tr>
                </tbody></table>

            <table class="containerBottom" cellpadding="0" cellspacing="0">
                <tbody><tr valign="top">
                    <td class="left"></td>
                    <td class="center"></td>
                    <td class="right"></td>
                </tr>
                </tbody></table>
        </div>
    </div>
</td>
</body>
</html>